Repository ventx/terraform-azurerm-network, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci

.github/labeler.yml:

documentation:
  - docs/**/*
  - .github/*
  - ./*.md

ci:
  - .dependabot/*
  - .github/workflows/*

chore(template): merge template changes :up:
  .github/workflows/pr-infracost.yml
  .github/workflows/pr-rover.yml
  .github/workflows/pr-terraform.yml
  .github/workflows/pr-terratest.yaml
  .github/workflows/release-please.yml
  .github/workflows/template-sync.yml
  .templateversionrc
Labels: ci

chore(template): merge template changes :up:
  .github/workflows/template-sync.yml
Labels: ci

chore(template): merge template changes :up:
  .github/workflows/pr-infracost.yml
Labels: ci

chore(template): merge template changes :up:
  .github/workflows/pr-infracost.yml
Labels: ci

chore(template): merge template changes :up:
  .github/workflows/pr-infracost.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-rover.yml
  .github/workflows/pr-secrets.yml
  .github/workflows/pr-terraform.yml
  .github/workflows/pr-tflint.yaml
  .github/workflows/pr-tfsec.yaml
  .github/workflows/release-please.yml
  .github/workflows/template-sync.yml
  .github/workflows/test-weekly.yml
  .pre-commit-config.yaml
  Makefile
Labels: ci

chore: remove AWS from all workflows
  .github/workflows/pr-rover.yml
  .github/workflows/pr-terraform.yml
  .github/workflows/pr-terratest-generic.yaml
  .github/workflows/pr-terratest.yaml
  .github/workflows/release-please.yml
  .github/workflows/test-weekly.yml
Labels: ci

feat: first basic version, dotfiles and examples, docs
  .tool-versions
  docs/README.yaml
  docs/images/diagram.py
  examples/README.md
  examples/main.tf
  examples/outputs.tf
  examples/provider.tf
  examples/variables.tf
  main.tf
  outputs.tf
  tests/terraform.tftest.hcl
  variables.tf
  versions.tf
Labels: documentation

chore(template): merge template changes :up:
  .github/workflows/pr-rover.yml
  .github/workflows/pr-terraform.yml
  .github/workflows/release-please.yml
  .github/workflows/test-weekly.yml
Labels: ci

fix: use cheaper default region
  variables.tf
Labels: none

chore(template): merge template changes :up:
  .github/workflows/pr-rover.yml
  .github/workflows/pr-terraform.yml
  .github/workflows/release-please.yml
Labels: ci

refactor: removed unused variables, set ManagedBy Terraform default tag
  variables.tf
Labels: none

chore: set TF var as env so no default value needs to be set
  .github/workflows/release-please.yml
Labels: ci

fix: add minimal azurerm features provider block
  providers.tf
Labels: none

chore: added ARM_ EnvVars to fix AzureRM provider config
  .github/workflows/release-please.yml
Labels: ci

chore: added missing ARM_ envvars for Azure
  .github/workflows/release-please.yml
  versions.tf
Labels: ci

chore: fix minimum TF version
  versions.tf
Labels: none

chore(template): merge template changes :up:
  .github/workflows/release-please.yml
Labels: ci
